<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>matchness.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>5AA9A33D10E2BEE06009D3141DBFFDC7174D17BB</string>
				<key>dateExpires</key>
				<string>2020/09/21</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5AA9A33D10E2BEE06009D3141DBFFDC7174D17BB</string>
						<key>dateExpires</key>
						<string>2020/09/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5GR4V7373X</string>
						<key>name</key>
						<string>atsushi nakamura</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5AA9A33D10E2BEE06009D3141DBFFDC7174D17BB</string>
						<key>dateExpires</key>
						<string>2020/09/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5GR4V7373X</string>
						<key>name</key>
						<string>atsushi nakamura</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5AA9A33D10E2BEE06009D3141DBFFDC7174D17BB</string>
						<key>dateExpires</key>
						<string>2020/09/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Charts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5GR4V7373X</string>
						<key>name</key>
						<string>atsushi nakamura</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5AA9A33D10E2BEE06009D3141DBFFDC7174D17BB</string>
						<key>dateExpires</key>
						<string>2020/09/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>EAIntroView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5GR4V7373X</string>
						<key>name</key>
						<string>atsushi nakamura</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5AA9A33D10E2BEE06009D3141DBFFDC7174D17BB</string>
						<key>dateExpires</key>
						<string>2020/09/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>EARestrictedScrollView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5GR4V7373X</string>
						<key>name</key>
						<string>atsushi nakamura</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5AA9A33D10E2BEE06009D3141DBFFDC7174D17BB</string>
						<key>dateExpires</key>
						<string>2020/09/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5GR4V7373X</string>
						<key>name</key>
						<string>atsushi nakamura</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5AA9A33D10E2BEE06009D3141DBFFDC7174D17BB</string>
						<key>dateExpires</key>
						<string>2020/09/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5GR4V7373X</string>
						<key>name</key>
						<string>atsushi nakamura</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5AA9A33D10E2BEE06009D3141DBFFDC7174D17BB</string>
						<key>dateExpires</key>
						<string>2020/09/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FacebookCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5GR4V7373X</string>
						<key>name</key>
						<string>atsushi nakamura</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5AA9A33D10E2BEE06009D3141DBFFDC7174D17BB</string>
						<key>dateExpires</key>
						<string>2020/09/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5GR4V7373X</string>
						<key>name</key>
						<string>atsushi nakamura</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5AA9A33D10E2BEE06009D3141DBFFDC7174D17BB</string>
						<key>dateExpires</key>
						<string>2020/09/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5GR4V7373X</string>
						<key>name</key>
						<string>atsushi nakamura</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5AA9A33D10E2BEE06009D3141DBFFDC7174D17BB</string>
						<key>dateExpires</key>
						<string>2020/09/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleAPIClientForREST.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5GR4V7373X</string>
						<key>name</key>
						<string>atsushi nakamura</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5AA9A33D10E2BEE06009D3141DBFFDC7174D17BB</string>
						<key>dateExpires</key>
						<string>2020/09/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5GR4V7373X</string>
						<key>name</key>
						<string>atsushi nakamura</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5AA9A33D10E2BEE06009D3141DBFFDC7174D17BB</string>
						<key>dateExpires</key>
						<string>2020/09/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Hydra.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5GR4V7373X</string>
						<key>name</key>
						<string>atsushi nakamura</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5AA9A33D10E2BEE06009D3141DBFFDC7174D17BB</string>
						<key>dateExpires</key>
						<string>2020/09/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ImageViewer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5GR4V7373X</string>
						<key>name</key>
						<string>atsushi nakamura</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5AA9A33D10E2BEE06009D3141DBFFDC7174D17BB</string>
						<key>dateExpires</key>
						<string>2020/09/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>JSQMessagesViewController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5GR4V7373X</string>
						<key>name</key>
						<string>atsushi nakamura</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5AA9A33D10E2BEE06009D3141DBFFDC7174D17BB</string>
						<key>dateExpires</key>
						<string>2020/09/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>JSQSystemSoundPlayer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5GR4V7373X</string>
						<key>name</key>
						<string>atsushi nakamura</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5AA9A33D10E2BEE06009D3141DBFFDC7174D17BB</string>
						<key>dateExpires</key>
						<string>2020/09/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MBCircularProgressBar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5GR4V7373X</string>
						<key>name</key>
						<string>atsushi nakamura</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5AA9A33D10E2BEE06009D3141DBFFDC7174D17BB</string>
						<key>dateExpires</key>
						<string>2020/09/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>PagingMenuController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5GR4V7373X</string>
						<key>name</key>
						<string>atsushi nakamura</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5AA9A33D10E2BEE06009D3141DBFFDC7174D17BB</string>
						<key>dateExpires</key>
						<string>2020/09/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5GR4V7373X</string>
						<key>name</key>
						<string>atsushi nakamura</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5AA9A33D10E2BEE06009D3141DBFFDC7174D17BB</string>
						<key>dateExpires</key>
						<string>2020/09/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Stripe.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5GR4V7373X</string>
						<key>name</key>
						<string>atsushi nakamura</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5AA9A33D10E2BEE06009D3141DBFFDC7174D17BB</string>
						<key>dateExpires</key>
						<string>2020/09/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5GR4V7373X</string>
						<key>name</key>
						<string>atsushi nakamura</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5AA9A33D10E2BEE06009D3141DBFFDC7174D17BB</string>
						<key>dateExpires</key>
						<string>2020/09/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>XLPagerTabStrip.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5GR4V7373X</string>
						<key>name</key>
						<string>atsushi nakamura</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5AA9A33D10E2BEE06009D3141DBFFDC7174D17BB</string>
						<key>dateExpires</key>
						<string>2020/09/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5GR4V7373X</string>
						<key>name</key>
						<string>atsushi nakamura</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5AA9A33D10E2BEE06009D3141DBFFDC7174D17BB</string>
						<key>dateExpires</key>
						<string>2020/09/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5GR4V7373X</string>
						<key>name</key>
						<string>atsushi nakamura</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5AA9A33D10E2BEE06009D3141DBFFDC7174D17BB</string>
						<key>dateExpires</key>
						<string>2020/09/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5GR4V7373X</string>
						<key>name</key>
						<string>atsushi nakamura</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>5GR4V7373X.com.a2c.popokatsu</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.healthkit</key>
				<true/>
				<key>com.apple.developer.healthkit.access</key>
				<array/>
				<key>com.apple.developer.in-app-payments</key>
				<array>
					<string>merchant.com.a2c.popokatsu</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>5GR4V7373X</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>5GR4V7373X.com.a2c.popokatsu</string>
				</array>
			</dict>
			<key>name</key>
			<string>POPO-KATSU.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>3dd8614a-dfb9-4f3b-b569-f3e757075228</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.a2c.popokatsu</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>5GR4V7373X</string>
				<key>name</key>
				<string>atsushi nakamura</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
