<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>dev_matchness.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>matchness.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>841A27F828504FD2001AD203</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>841FBB72285064FA00A1EC22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84EFD8842475295000549BBD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE4B0980220942DE00F8A430</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE4B0994220942E100F8A430</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE4B099F220942E100F8A430</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
