<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>806178990139-07idnr1rrqds6lsv8o7sua37jd7cvg5n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.806178990139-07idnr1rrqds6lsv8o7sua37jd7cvg5n</string>
	<key>API_KEY</key>
	<string>AIzaSyCQPyC2pZcNSDNvGOB2nluWUFsm_pCSodE</string>
	<key>GCM_SENDER_ID</key>
	<string>806178990139</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.a2c.popokatsu</string>
	<key>PROJECT_ID</key>
	<string>popo-katsu-266622</string>
	<key>STORAGE_BUCKET</key>
	<string>popo-katsu-266622.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:806178990139:ios:491a1b5c3f6647336b141e</string>
	<key>DATABASE_URL</key>
	<string>https://popo-katsu-266622.firebaseio.com</string>
</dict>
</plist>