<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.a2c.popokatsu.process</string>
		<string>com.a2c.popokatsu.refresh</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>ポポカツ</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb2403045116443173</string>
				<string>popokatsu</string>
				<string>com.googleusercontent.apps.806178990139-ei082f93503lki48k1us1i88rk9pu6bb</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>FacebookAdvertiserIDCollectionEnabled</key>
	<true/>
	<key>FacebookAppID</key>
	<string>2403045116443173</string>
	<key>FacebookAutoLogAppEventsEnabled</key>
	<false/>
	<key>FacebookDisplayName</key>
	<string>popo-katsu</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>FirebaseAutomaticScreenReportingEnabled</key>
	<false/>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-3233612928012980~8685012568</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>https://popokatsu.com/terms</string>
		<string>https://popokatsu.com/privacy</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>POPO-KATSUの登録に必要な写真を撮影する為に使用します。</string>
	<key>NSHealthClinicalHealthRecordsShareUsageDescription</key>
	<string>ヘルスケアのデータを取得してもいいでしょうか？歩数を取得する時に必須です。</string>
	<key>NSHealthShareUsageDescription</key>
	<string>ヘルスケアのデータを取得してもいいでしょうか？歩数を取得する時に必須です。</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>ヘルスケアのデータを取得してもいいでしょうか？歩数を取得する時に必須です。</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>位置情報の取得してもいいでしょうか</string>
	<key>NSMotionUsageDescription</key>
	<string>コアモーションのデータを取得してもいいですか？歩数を取得する時に必須です。</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>アルバムへのアクセスの許可をして下さい。画像を選択する時に必須です。</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>表示する広告を適切に選択するために使用します</string>
	<key>SKAdNetworkItems</key>
	<array>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>cstr6suwn9.skadnetwork</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>api_host</key>
	<string>$(APIHOST)</string>
	<key>api_url</key>
	<string>$(API_URL)</string>
</dict>
</plist>
